[D-BUS Service]
Name=com.canonical.Unity.Scope.Music.Soundcloud
Exec=/usr/bin/python3 /usr/share/unity-scopes/scope-runner-dbus.py -s music/soundcloud.scope
